<h1>Cocktails</h1>

  <div class="container mt-3">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <div class="card-trip"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= plant.image_url %>')">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
      <% end %>
    </div>
  </div>

<%= link_to "+ Add a new cocktail", new_cocktail_path %>

